
body{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
p {
    max-width: 90%;
    margin: 5px auto;
    overflow-y: auto;
    overflow-x: none;
    line-height: 1.5;
    max-height: 110px;
}
#link1{
    position: absolute;
    top: 90vh;
}
/* p:nth-child(odd) {
    color: red;
    font-size: 18px;
    font-weight: 800;
  } */